<?xml version="1.0" encoding="UTF-8"?>
<!--
        Cupdater build file for Phing
        written by Daniel Dimitrov - https://compojoom.com
        
        Run "phing -f plugin.xml -Dbuild.version=1.0 -Dplugin.name=cupdater -Dplugin.type=system"
        from the build directory to build the component, modules and plugins
-->

<project name="cupdater"  default="buildZip">
    <!-- Initialize the build.date timestamp -->
    <tstamp>
        <format property="build.date" pattern="%Y-%m-%d" />
    </tstamp>
    <property name="dirs.root" value="${project.basedir}/../" />
    <property name="dirs.source" value="${dirs.root}/source"/>

    <property name="build.version" value="(value)" />
    <property name="plugin.name" value="(value)" />
    <property name="plugin.type" value="(value)" />

    <property name="destination.dir"
              value="${dirs.root}/packages/plugins/${plugin.type}/${plugin.name}-${build.version}" />
    <mkdir dir="${destination.dir}"/>

    <available resource="${dirs.root}/media/plg_${plugin.name}"
               property="media.exist" value="yes"/>


    <taskdef name="extfile" classname="phingext.listJPackageFilesTask" />

    <!--<target name="myecho">-->
        <!--<myecho filesHolder="##installfiles##" />-->
    <!--</target>-->

    <target name="buildZip" depends="buildPlugin">
        <echo msg="buildZip" />

        <zip destfile="${destination.dir}/../${plugin.name}-${build.version}.zip"
             basedir="${destination.dir}" />
    </target>

    <target name="buildPlugin">

        <copy todir="${destination.dir}">
            <fileset dir="${dirs.source}"
                     includes="**/*.*"/>
        </copy>


        <copy todir="${destination.dir}/administrator/language/">
            <fileset dir="${dirs.source}/administrator/language/" >
                <include name="**/*.plg_${plugin.type}_${plugin.name}.**" />
            </fileset>
        </copy>


        <if>
            <equals arg1="${media.exist}" arg2="yes" />
            <then>
                <copy todir="${destination.dir}/media/plg_${plugin.name}">
                    <fileset dir="${dirs.source}/media/plg_${plugin.name}"
                             includes="**/*.*"/>
                </copy>
            </then>
        </if>


        <copy file="${dirs.source}/${plugin.name}.xml"
              tofile="${destination.dir}/${plugin.name}.xml" overwrite="true">
            <filterchain>
                <replacetokens begintoken="##" endtoken="##">
                    <token key="DATE" value="${build.date}" />
                    <token key="VERSION" value="${build.version}" />
                </replacetokens>
            </filterchain>
        </copy>

        <extfile file="${destination.dir}/${plugin.name}.xml" sourceDir="${destination.dir}" />

    </target>
</project>